

/* Style inputs, select elements and textareas */
input[type=text], select, textarea, input[type=password],input[type=number],input[type=date],input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Floating column for labels: 25% width */
.col-40 {
    float: left;
    width: 40%;
}

/* Floating column for inputs: 75% width */
.col-30 {
    float: left;
       width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#mainNav {

 }




.label1{
    padding: 12px 12px 12px 12px;
    width: 100%;
    margin: 10px 20px 10px 20px;
    background: darkgray;
    border-radius: 5px;
    float: left;


}





#register {
    border-radius: 5px;
    padding: 20px;
    background: darkgray;
    width: 90%;
    margin: 20px;
}


#footer {
    background-color: #4CAF50;
    text-align: center;
     font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    border-color: black;
    border-style: solid;
    height: 10%;
    padding-bottom: 0px;

}

#items {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    float: left;
    text-align: center;
    height: 400px;
    width: 30%;
    margin: 10px;
}

#login {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    float: left;
    text-align: center;
    height: 400px;
    width: 40%;
    margin: 10px;
    padding: 15px;
}

html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
#message{

    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    float: left;
    text-align: center;
    height: 500px;
    width: 40%;
    margin: 10px;
    padding: 15px;
}
