/***********************************************************************************************************************************/
.myForm{

}
/* Style inputs, select elements and textareas */
.myForm input[type=text], select, textarea, input[type=password],input[type=number],input[type=date],input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
/* Style the submit button */
.myForm input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
/***********************************************************************************************************************************/

/* Floating column for labels: 25% width */
.col-40 {
    float: left;
    width: 40%;
}

/* Floating column for inputs: 75% width */
.col-30 {
    float: left;
       width: 30%;
}
/***********************************************************************************************************************************/

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the label to display next to the inputs */
.label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
}
.label1{
    padding: 12px 12px 12px 12px;
    width: 100%;
    margin: 15px 20px 10px 20px;
    background: darkgray;
    border-radius: 5px;
    float: left;


}
.label1 h1{
    float: left;
    width: 50%;
}
.label1 form input[type=text]{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 15px 0px 15px 50px;
}
.label1 form input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 10%;
    margin: 15px 50px 15px 0px;
}


.label2{
    padding: 12px 12px 12px 12px;
    width: 100%;
    margin: 10px 20px 10px 20px;
    background: darkgray;
    border-radius: 5px;
    float: left;
    border-color: black;
    border-style: solid;
}




#register {
    border-radius: 5px;
    padding: 20px;
    background: darkgray;
    width: 90%;
    margin: 20px;
}


#footer {
    background-color: #333333;
    text-align: center;
     font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    border-color: black;
    border-style: solid;
    height: 15%;
    padding-bottom: 0px;
    margin-top: 50px;

}



#SingleItems {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: #dddddd;
    float: left;
    text-align: center;
    height: 300px;
    width: 48%;
    margin: 10px;
}
#SingleItemsPage {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: #dddddd;
    float: left;
    text-align: center;
    height: 700px;
    width: 95%;
    margin: 20px;
    margin-right: 20px;
}
#login {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    text-align: center;
    height: 400px;
    width: 40%;
    margin: 50px 100px 100px 400px;
    padding: 15px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    margin-top: 70px;
}

article {

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
#message{

    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    float: left;
    text-align: center;
    height: 500px;
    width: 40%;
    margin: 50px 100px 100px 350px;
    padding: 15px;
}
#message input[type=submit],[type=reset]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 20px;
}
#message input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;

}
/***********************************************************************************************************************************/

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    overflow: hidden;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/***********************************************************************************************************************************/
#items {

}
.homeProducts{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: darkgray;
    float: left;
    text-align: center;
    height: 400px;
    width: 30%;
    margin: 10px;
    padding: 10px;
}

.homeProducts input {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 25px;
    margin-top: 10px;
}
.homeProducts ul li {
    text-align: center;
    list-style-type: none;
    margin: 5px;
    font-family: Tahoma;
    font-size: large;
    font-weight: bold;
}

/***********************************************************************************************************************************/
.itemText{
    padding-top: 50px;
    float: left;
    width: 32.5%;
}
.itemText p{
    margin: 10px;
    font-family: Tahoma;
    font-size: large;
    color: darkslategray;
    float: left;
    overflow: auto;

}
.itemButtons{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 120px 50px 15px 1px;
}
.aboutUs{
    width: 60%;
    margin: 0px 100px 100px 300px;
    padding: 15px;
    font-size: large;
    font-family: "Arial Black";
}



/***********************************************************************************************************************************/


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.singleProduct{
    width: 90%;
    height: 150px;
    margin: 150px 100px 20px 100px;
    background-color: gray;
    font-family: Aldhabi;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 5px;
}

/***********************************************************************************************************************************/



.adminNav {
    width: 100%;
    margin: 10px 20px 5px 50px;
}

.adminNav input {
    background-color: #333333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 25%;
    margin: 50px;
    margin-top: 0px;
}